/* Flex */
.flex-container {
  width:            80%;
  max-width:        1400px;
  display:          flex;
  flex-wrap:        wrap;
  justify-content:  center;
}

.flex-container,.flex-20,.flex-40,.flex-60,.flex-80,.flex-100 { 
  height:           auto;
}

.flex-20  { width: 20%; }
.flex-40  { width: 40%; }
.flex-60  { width: 60%; }
.flex-80  { width: 80%; }
.flex-100 { width: 100%;}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}




