.container,
.intro,
.skills,
.resume,
.contact,
.footer {
  border: solid 1px red;
}

.flex-container,
.flex-20,
.flex-40,
.flex-60,
.flex-80,
.flex-100 {
  border: solid 1px skyblue;
}

.card-box,
.card-img {
  border: solid 1px yellow;
}