.flex-container {
  width:            90%;
  height:           auto;
  margin:           auto;
  display:          flex;
  flex-direction:   row;
  flex-wrap:        wrap;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.cardbox {
  margin: 20px 2.5% 0 2.5%;
  border: solid 1px green;
  border-radius: 5px;
}

.content-20 {
  width: 20%;
  height: auto;
}

.content-40 {
  width: 40%;
  height: auto;
}

.content-60 {
  width: 60%;
  height: auto;
}

.content-100 {
  width: 100%;
  border: solid 1px yellow;
}



@media only screen and (max-width: 800px) {
.content-20 {
  width: 45%;
}

.content-40,
.content-60 {
  width: 100%;
  margin-top: 35px;
  text-align: center;
}
}
