.flex-container {
  width:            90%;
  height:           auto;
  margin:           auto;
  display:          flex;
  flex-direction:   row;
  flex-wrap:        wrap;
}

.align-center {
  align-items:    center;
}

.align-bottom {
  align-items:    flex-end;
}

.card-box {
  margin:             20px auto 10px auto;
  // border-radius:      5px;
  // background-color: rgb(66, 66, 66);
  // box-shadow:         0 0 6px rgb(163, 163, 163);
  // -moz-box-shadow:    0 0 6px rgb(163, 163, 163);
  // -webkit-box-shadow: 0 0 6px rgb(163, 163, 163);
}

.card-img {
  width:          100%;
  height:         auto;
  text-align:     center;
  padding:        15px 0 15px 0;
}

.card-img img {
  height:         75px;
}

.centered {
  text-align:     center;
}

.content-20 {
  width:          21%;
  height:         auto;
}

.content-40 {
  width:          40%;
  height:         auto;
}

.content-60 {
  width:          60%;
  height:         auto;
}

.content-100 {
  width:          100%;
}

@media only screen and (max-width: 800px) {
.content-20 {
  width:          45%;
}

.content-40,
.content-60 {
  width:          100%;
  margin-top:     35px;
  text-align:     center;
}
}
