
// Sass Variables

// Main Body
$main-font-family:    'helvetica';

// Sections
$full-width:        100%;
$default-padding:   70px 0 70px 0;

// Colors
$bg-dark:           rgb(29,30,36);
$bg-light:          rgb(29,30,36);
$bg-white:          rgb(29,30,36);
$font-dark:         rgb(247,247,247);
$font-light:        rgb(247,247,247);


/* Body */
* { margin: auto; padding: 0; }

body {
  background-color: $bg-light;
  font-family:      $main-font-family;
  font-weight:      100;
}

h1 {
  font-weight: 200;
}

/* Container */
.container {
  height:             auto;
  width:              $full-width;
  max-width: 1000px;
}

/* Sections */
%default {
  height:             auto;
  width:              $full-width;
  padding:            $default-padding;
}

.intro {
  @extend %default;
  margin-top: 100px;
  color:              $font-light;
  background-color:   $bg-dark;
}

.skills,
.contact {
  @extend %default;
  color:              $font-dark;
}

.resume {
  @extend %default;
  color:              $font-dark;
  background-color:   $bg-white;
}

.footer {
  height:             50px;
  padding:            20px;
  text-align:         center;
  width:              $full-width;
  color:              $font-light;
  background-color:   $bg-dark;
}

